@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

.book-app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  background-color: #dab8b4;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 40px;
    color:#5c433e;
    font-family: "Dancing Script", cursive;
    font-size: 6.8rem;
    font-weight: 700;
    text-align: center;
  }

  h2{
    font-size: 50px;
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    margin-top: 0;
    text-align: start;
    left: 0;
  }

  .book-reading{
    display: flex;
    flex-direction: column;
    width: 95vw;
    gap: 20px;
  }

  .shelf-title{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 95vw;
    left: 0;
  }

  .book-shelf {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 80vw;
    border-radius: 45px;
    background-color: white;    
    padding: 30px;
    gap: 10px;

    h2{
      font-size: 40px;
      margin-bottom: 10px;
      font-family: "Playfair Display", serif;
      font-optical-sizing: auto;
      font-weight: 700;
      margin-top: 0;
    }

    .addbook-button{
      color: rgb(94, 94, 94);
      border-radius: 15px;
      border: 1.5px solid lightgrey;
      font-weight: 500;
      font-size: 18px;
      cursor: pointer;
      height: 60px;
      padding: 15px;
      width: 100%;
      max-width: 380px;
      transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      box-shadow: 0px 0px 20px -18px;
      background-color: #f0ebe0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: start;

      &:hover {
        border: 2px solid grey;
        box-shadow: 0px 0px 20px -17px;
      }
    }
  }
}

.book-search {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 5px;
  gap: 10px;
  align-items: center;

  .input {
    width: 100%;
    max-width: 250px;
    height: 30px;
    padding: 12px;
    border-radius: 15px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    &:hover {
      border: 2px solid lightgrey;
      box-shadow: 0px 0px 20px -17px;
    }
    &:active {
      transform: scale(0.95);
    }
    &:focus {
      border: 2px solid grey;
    }
  }  

  .search-button{
    display: block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-image: url("https://icon-library.com/images/white-search-icon-transparent-background/white-search-icon-transparent-background-1.jpg");
    background-size: cover;
    background-color: black;
  }

  .svg{
    font-size: 10px;
  }

  ul {
    margin-top: 0.8rem;
    list-style-type: none;
    padding: 0;
    

    li {
      background: rgba(255, 235, 235, 0.5);
      border-radius: 6px;
      padding: 0.6rem 0.8rem;
      cursor: pointer;
      font-weight: 500;
      transition: background-color 0.2s ease;
      border: 1px solid transparent;
      margin-bottom: 10px;

      &:hover {
        background: rgba(255, 235, 235, 0.8);
        border-color: rgb(231, 192, 192);
      }
    }
  }
}

.book-form {
  background: rgba(255, 235, 235, 0.5);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgb(255, 235, 235);
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  h3 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    margin-top: 0;
    text-align: start;
    left: 0;
  }

  p {
    font-size: 0.85rem;
    margin: 0.3rem 0;
  }

  img {
    display: block;
    margin: 0.6rem auto;
    max-width: 150px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    gap: 5px;
    font-family: "Playfair Display", serif;
  }

  input[type="text"],
  input[type="number"],
  textarea,
  input[type="url"] {
    width: 100%;
    max-width: 350px;
    height: 30px;
    padding: 12px;
    border-radius: 15px;
    border: 1.5px solid lightgrey;
    box-shadow: 0px 0px 20px -18px;
    outline: none;
    background-color: #f0ebe0;
    font-size: 18px;
    &:hover {
      border: 1.5px solid lightgrey;
      box-shadow: 0px 0px 20px -17px;
    }
    &:focus {
      border: 2px solid grey;
    }
  }  

  select {
    width: 100%;
    max-width: 350px;
    height: 30px;
    padding: 12px;
    border-radius: 15px;
    border: 1.5px solid lightgrey;
    box-shadow: 0px 0px 20px -18px;
    outline: none;
    background-color: #f0ebe0;
    &:hover {
      border: 1.5px solid lightgrey;
      box-shadow: 0px 0px 20px -17px;
    }
    &:focus {
      border: 2px solid grey;
    }
  }  

  .form-save {
    margin-top: 1.5rem;
    padding: 0.6rem 1.2rem;
    background-color: #dab8b4;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Playfair Display", serif;
    transition: background-color 0.3s ease;
  }
}

.modal-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(7px);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-center {
    background: #fff;
    box-shadow: 0 6px 32px #3332;
    border-radius: 12px;
    padding: 32px;
    min-width: 340px;
    max-width: 98vw;
    max-height: 96vh;
    overflow-y: auto;
  }
}

.wishlist-circles {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 28px 0;
}

.wishlist-circle {
  width: 92px;
  height: 92px;
  background: #f0ebe0;
  border: 3px dashed #dab8b4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: border .2s, box-shadow .21s;
  box-shadow: 0 3px 13px #c37ac430;
  overflow: hidden;

  &:hover {
    border: 3px solid #edc8c4;
    background: rgba(255, 235, 235, 0.5);
    box-shadow: 0px 0px 10px 5px rgb(255, 235, 235);
  }
  img {
    height: 100%;
    width: auto;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px rgb(255, 235, 235);
    display: block;
  }
  .plus {
    color: #72554f;
    font-size: 38px;
    font-weight: bold;
    user-select: none;
    line-height: 1;
  }
}

.wishlist-circle-wrapper {
  position: relative;
  display: inline-block;
}
.wishlist-delete-btn {
  position: absolute;
  top: -7px;
  right: 0;
  background: #fff1fa;
  color: #f58fcc;
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 2px 7px #eebdf7b2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 5s ease;

  &:hover {
    background: #ffd6e8;
    color: #bf489d;
  }
}