#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainBlock{
  color: rgb(206, 174, 174);
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}
